.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  width:80vw;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activityForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formButton {
  margin-top: 16px;
}

.formLabel {
  font-weight: bold;
  margin-left: 16px;
}

.formInput {
  margin-left: 16px;
}

.user {
  text-overflow: ellipsis;
}

.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}